/*===========================================*/
/* Universal Section */
/*===========================================*/

.GrayBar{
  background-color: gray;
  width: 900px;
  height: 15px;
  margin-top: 30px;
}

.ThinGrayBar{
  background-color: rgb(228, 224, 224);
  width: 428px;
  height: 2px;
  margin-top: 30px;
}

#page{
  margin: auto;
  width: 905px;
  margin-top: 20px;
}


/*===========================================*/
/* Header Section */
/*===========================================*/

.header{
  align-items: flex-start;
  display: flex;
}

#BlogTitle{
  margin-left: 8px;
  display: grid;
}

/* Font taken from Google Fonts */
#BlogName{
  font-size: xx-large;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

#BlogCaption{
  font-size: small;
}

.icons{
  margin-left: 407px;
  margin-top: 10px;
}

h1{
  font-family: 'Anton', sans-serif;
  letter-spacing:.1px;
  font-size:54px;
  font-weight:bold; 
  margin-top: 56px;
}

h3{
  color: rgba(78, 78, 78, 0.5);
  margin-bottom:20px;
  margin-top: 10px;
}

#PrintIcon{
  margin-top: 119px;
  margin-left: 502px;
}

#ArticleName{
  display: inline-flex;
}


/*===========================================*/
/* Body Section */
/*===========================================*/

p{
  font-size: 19.5px;
  width: 905px;
  text-indent: 2em;
  margin:20px 0px 20px 0px;
  line-height: 25px;
}

#ChocolatePizzaPicture{
  margin-top: 20px;
}

.paper{
  display:flex;
  height:300px;
  background-image: url(../img/icons/list-bg.png);
  align-items:baseline;
  margin-top: 30px;
}

#paper-img{
  position:relative;
}

.left{
  flex-direction: column;
  display:flex;
  height:300px;
  width: 420px;
  margin-left: 54px;
  margin-top: 33px;
}

.right{
  flex-direction: column;
  display:flex;
  height:300px;
  width: 380px;
}

.ingr{
  font-family: 'Grandstander', cursive;
  font-size:18px;
  margin-top: 11px;
  font-weight: bolder;
}

#Strikethrough1, #Strikethrough2{
  text-decoration: line-through;
}

#Chopped{
  font-family: 'Grandstander', cursive;
  font-size:18px;
  margin-top: 6px;
  margin-left: 18px;
  font-weight: bolder;
}

/*===========================================*/
/* About Vanessa Section */
/*===========================================*/

#VanessaParent{
  display: inline-flex;;
}

#VanessaPhoto{
  margin-top: 25px;
}

h2{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:18px;
  font-weight:bold;
  margin-top: 30px;
  margin-left: 35px;
}

#AboutVanessa1, #AboutVanessa2{
  width: 607px;
  line-height: 5px;
}

button{
  background-color: indianred;
  border: none;
  color: white;
  padding: 7px 30px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 180px;
  height: 50px;
  margin-top: 40px;
  margin-left: 41px;
}


/*===========================================*/
/* Footer Section */
/*===========================================*/

#ClosingFooterLogoSection{
  display: inline-flex;
  margin-top: 60px;
}

#FooterSmallLogo{
  margin: 14px 6px 10px 6px;

}

#copyright1, #copyright2{
  color: rgb(156, 153, 153);
}

#copyright1{
  margin-left: 260px;
}

#copyright2{
  margin-left: 295px;
  margin-top: -20px;
}